.dirac-icon-submit{
	
	background-image: url(../img/icons/common/submit.gif) !important;
	background-color: transparent;
	
}

.dirac-icon-restart{
	
	background-image: url(../img/icons/common/restart.png) !important;
	background-color: transparent;
	
}

.dirac-icon-start{
	
	background-image: url(../img/icons/common/submit.gif) !important;
	background-color: transparent;
	
}

.dirac-icon-revert{
	
	background-image: url(../img/icons/common/revert.png) !important;
	background-color: transparent;
	
}

.dirac-icon-stop{
	
	background-image: url(../img/icons/common/stop.gif) !important;
	background-color: transparent;
	
}

.dirac-icon-log{
	
	background-image: url(../img/icons/common/log.gif) !important;
	background-color: transparent;
	
}

.dirac-icon-error{
	
	background-image: url(../img/icons/common/error.png) !important;
	background-color: transparent;
	
}


