.pu-upload-icon{
	
	 background-image: url(../images/upload.png) !important;
     background-color: transparent;
	
}


.pu-reset-icon{
	
	 background-image: url(../images/resetButton.gif) !important;
     background-color: transparent;
	
}