.jm-reschedule-icon{
	
	 background-image: url(../images/reschedule.gif) !important;
     background-color: transparent;
	
}

.jm-kill-icon{
	
	 background-image: url(../images/close.gif) !important;
     background-color: transparent;
	
}

.jm-delete-icon{
	
	 background-image: url(../images/delete.gif) !important;
     background-color: transparent;
	
}