.jl-submit-icon{
	
	 background-image: url(../images/submit.gif) !important;
     background-color: transparent;
	
}

.jl-close-icon{
	
	 background-image: url(../images/close.gif) !important;
     background-color: transparent;
	
}

.jl-reset-icon{
	
	 background-image: url(../images/reset.gif) !important;
     background-color: transparent;
}

.jl-plus-icon{
	
	 background-image: url(../images/plus.png) !important;
     background-color: transparent;
}