.meta-reset-icon{
	
	 background-image: url(../images/reset.gif) !important;
     background-color: transparent;
	
}

.meta-submit-icon{
	
	 background-image: url(../images/submit.gif) !important;
     background-color: transparent;
	
}

.meta-refresh-icon{
	
	 background-image: url(../images/refresh.gif) !important;
     background-color: transparent;
	
}

.meta-equal-icon{
	
	 background-image: url(../images/equal.gif) !important;
     background-color: transparent;
	
}

